.justify-content-end {
    justify-content: end;
    background-color: #D6809C;
}

.nav-link {
    color: blanchedalmond;
}

.container {
    color: #D6809C;
}

.col-sm-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}