.justify-content-end {
    justify-content: end;
    background-color: #D6809C;
}

.nav-link {
    color: blanchedalmond;
}

.container {
    color: #D6809C;
}

.col-sm-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

body {
    font-family: 'Inconsolata', monospace;
    background-color:#FAF5EF ;
}

h1 {
    text-align: center;
}

.action_page.php {
    align-items: center;
}